<div class="column-layout group">
  <div class="row-layout banner">
    <h5 class="h5">
      Account Set Up
    </h5>
  </div>
  <div class="column-layout group_1">
    <h5 class="content">
      Progress
    </h5>
    <p class="content">
      Complete the following steps to verfiy your account
    </p>
  </div>
  <div class="row-layout group_2">
    <div class="row-layout group_3">
      <igx-card type="outlined" class="card">
        <igx-card-header>
          <h3 igxCardHeaderTitle>
            Personal Info
          </h3>
          <h5 igxCardHeaderSubtitle>
          </h5>
        </igx-card-header>
        <igx-card-content class="body-content">
          <div class="row-layout group_4">
            <div class="column-layout group_5">
              <igx-icon class="icon">
                radio_button_unchecked
              </igx-icon>
              <p class="content">
                Start
              </p>
            </div>
            <div class="column-layout group_5">
              <igx-icon class="icon">
                radio_button_unchecked
              </igx-icon>
              <p class="content">
                Submitted
              </p>
            </div>
            <div class="column-layout group_5">
              <igx-icon class="icon_1">
                radio_button_unchecked
              </igx-icon>
              <p class="content">
                Verified
              </p>
            </div>
          </div>
          <div class="column-layout group_6">
            <button igxButton="raised" igxRipple routerLink="/account/personal-info" class="button">
              Start
            </button>
          </div>
        </igx-card-content>
      </igx-card>
    </div>
    <div class="row-layout group_3">
      <igx-card type="outlined" class="card">
        <igx-card-header>
          <h3 igxCardHeaderTitle>
            Company Info
          </h3>
          <h5 igxCardHeaderSubtitle>
          </h5>
        </igx-card-header>
        <igx-card-content class="body-content">
          <div class="row-layout group_4">
            <div class="column-layout group_5">
              <igx-icon class="icon_2">
                check_circle
              </igx-icon>
              <p class="content">
                Start
              </p>
            </div>
            <div class="column-layout group_5">
              <igx-icon class="icon_2">
                check_circle
              </igx-icon>
              <p class="content">
                Submitted
              </p>
            </div>
            <div class="column-layout group_5">
              <igx-icon class="icon">
                pending
              </igx-icon>
              <p class="content">
                Verified
              </p>
            </div>
          </div>
          <div class="column-layout group_6">
            <button igxButton="raised" igxRipple routerLink="/account/company-info" class="button">
              Review
            </button>
          </div>
        </igx-card-content>
      </igx-card>
    </div>
    <div class="row-layout group_3">
      <igx-card type="outlined" class="card">
        <igx-card-header>
          <h3 igxCardHeaderTitle>
            Bank Info
          </h3>
          <h5 igxCardHeaderSubtitle>
          </h5>
        </igx-card-header>
        <igx-card-content class="body-content">
          <div class="row-layout group_4">
            <div class="column-layout group_5">
              <igx-icon class="icon_2">
                check_circle
              </igx-icon>
              <p class="content">
                Start
              </p>
            </div>
            <div class="column-layout group_5">
              <igx-icon class="icon_3">
                error
              </igx-icon>
              <p class="content">
                Submitted
              </p>
            </div>
            <div class="column-layout group_5">
              <igx-icon class="icon_1">
                radio_button_unchecked
              </igx-icon>
              <p class="content">
                Verified
              </p>
            </div>
          </div>
          <div class="column-layout group_6">
            <button igxButton="raised" igxRipple routerLink="/account/bank-info" class="button_1">
              Fix Submission
            </button>
          </div>
        </igx-card-content>
      </igx-card>
    </div>
    <div class="row-layout group_3">
      <igx-card type="outlined" class="card">
        <igx-card-header>
          <h3 igxCardHeaderTitle>
            Key People 
          </h3>
          <h5 igxCardHeaderSubtitle>
          </h5>
        </igx-card-header>
        <igx-card-content class="body-content">
          <div class="row-layout group_4">
            <div class="column-layout group_5">
              <igx-icon class="icon_4">
                check_circle
              </igx-icon>
              <p class="content">
                Start
              </p>
            </div>
            <div class="column-layout group_5">
              <igx-icon class="icon_4">
                check_circle
              </igx-icon>
              <p class="content">
                Submitted
              </p>
            </div>
            <div class="column-layout group_5">
              <igx-icon class="icon_3">
                error
              </igx-icon>
              <p class="content">
                Verified
              </p>
            </div>
          </div>
          <div class="column-layout group_6">
            <button igxButton="raised" igxRipple routerLink="/account/key-people" class="button_1">
              Fix Submission
            </button>
          </div>
        </igx-card-content>
      </igx-card>
    </div>
    <div class="row-layout group_3">
      <igx-card type="outlined" class="card">
        <igx-card-header>
          <h3 igxCardHeaderTitle>
            Activity
          </h3>
          <h5 igxCardHeaderSubtitle>
          </h5>
        </igx-card-header>
        <igx-card-content class="body-content">
          <div class="row-layout group_4">
            <div class="column-layout group_5">
              <igx-icon class="icon">
                radio_button_unchecked
              </igx-icon>
              <p class="content">
                Start
              </p>
            </div>
            <div class="column-layout group_5">
              <igx-icon class="icon">
                radio_button_unchecked
              </igx-icon>
              <p class="content">
                Submitted
              </p>
            </div>
            <div class="column-layout group_5">
              <igx-icon class="icon_1">
                radio_button_unchecked
              </igx-icon>
              <p class="content">
                Verified
              </p>
            </div>
          </div>
          <div class="column-layout group_6">
            <button igxButton="raised" igxRipple routerLink="/account/expected-activity" class="button">
              Start
            </button>
          </div>
        </igx-card-content>
      </igx-card>
    </div>
    <div class="row-layout group_7"></div>
  </div>
</div>
