<div class="row-layout group">
  <div class="column-layout group_1">
    <div class="row-layout group_2">
      <h4 class="content">
        Pricing Plan Featured
      </h4>
    </div>
    <div class="group_3">
      <p class="text">
        $
      </p>
      <h2 class="h2">
        29
      </h2>
      <p class="ig-typography__body-2 text_1">
        /per month
      </p>
    </div>
    <div class="row-layout group_4">
      <p class="content">
        Feature is included
      </p>
      <igx-icon class="icon">
        check_circle
      </igx-icon>
    </div>
    <div class="row-layout group_4">
      <p class="content">
        Feature is included
      </p>
      <igx-icon class="icon">
        check_circle
      </igx-icon>
    </div>
    <div class="row-layout group_4">
      <p class="content">
        Feature is included
      </p>
      <igx-icon class="icon">
        check_circle
      </igx-icon>
    </div>
    <div class="row-layout group_4">
      <p class="text_2">
        Feature is included
      </p>
      <igx-icon class="icon_1">
        cancel
      </igx-icon>
    </div>
    <div class="row-layout group_4">
      <p class="text_2">
        Feature is included
      </p>
      <igx-icon class="icon_1">
        cancel
      </igx-icon>
    </div>
    <div class="row-layout group_4">
      <p class="text_2">
        Feature is included
      </p>
      <igx-icon class="icon_1">
        cancel
      </igx-icon>
    </div>
    <div class="row-layout group_5">
      <button igxButton="raised" igxRipple class="button">
        purchase now
      </button>
    </div>
    <div class="row-layout group_4">
      <p class="text_2">
        Feature is included
      </p>
      <igx-icon class="icon_1">
        cancel
      </igx-icon>
    </div>
  </div>
  <div class="column-layout group_1">
    <div class="row-layout group_6">
      <h4 class="h4">
        Pricing Plan Featured
      </h4>
    </div>
    <div class="group_3">
      <p class="text_3">
        $
      </p>
      <h2 class="h2">
        49
      </h2>
      <p class="ig-typography__body-2 text_1">
        /per month
      </p>
    </div>
    <div class="row-layout group_4">
      <p class="content">
        Feature is included
      </p>
      <igx-icon class="icon">
        check_circle
      </igx-icon>
    </div>
    <div class="row-layout group_4">
      <p class="content">
        Feature is included
      </p>
      <igx-icon class="icon">
        check_circle
      </igx-icon>
    </div>
    <div class="row-layout group_4">
      <p class="content">
        Feature is included
      </p>
      <igx-icon class="icon">
        check_circle
      </igx-icon>
    </div>
    <div class="row-layout group_4">
      <p class="content">
        Feature is included
      </p>
      <igx-icon class="icon">
        check_circle
      </igx-icon>
    </div>
    <div class="row-layout group_4">
      <p class="content">
        Feature is included
      </p>
      <igx-icon class="icon">
        check_circle
      </igx-icon>
    </div>
    <div class="row-layout group_4">
      <p class="content">
        Feature is included
      </p>
      <igx-icon class="icon">
        check_circle
      </igx-icon>
    </div>
    <div class="row-layout group_4">
      <p class="content">
        Feature is included
      </p>
      <igx-icon class="icon">
        check_circle
      </igx-icon>
    </div>
    <div class="row-layout group_7">
      <button igxButton="raised" igxRipple class="button">
        purchase now
      </button>
    </div>
  </div>
  <div class="column-layout group_8">
    <div class="row-layout group_2">
      <h4 class="content">
        Pricing Plan Featured
      </h4>
    </div>
    <div class="group_3">
      <p class="text_3">
        $
      </p>
      <h2 class="h2">
        99
      </h2>
      <p class="ig-typography__body-2 text_1">
        /per month
      </p>
    </div>
    <div class="row-layout group_4">
      <p class="content">
        Feature is included
      </p>
      <igx-icon class="icon">
        check_circle
      </igx-icon>
    </div>
    <div class="row-layout group_4">
      <p class="content">
        Feature is included
      </p>
      <igx-icon class="icon">
        check_circle
      </igx-icon>
    </div>
    <div class="row-layout group_4">
      <p class="content">
        Feature is included
      </p>
      <igx-icon class="icon">
        check_circle
      </igx-icon>
    </div>
    <div class="row-layout group_4">
      <p class="text_2">
        Feature is included
      </p>
      <igx-icon class="icon_1">
        cancel
      </igx-icon>
    </div>
    <div class="row-layout group_4">
      <p class="text_2">
        Feature is included
      </p>
      <igx-icon class="icon_1">
        cancel
      </igx-icon>
    </div>
    <div class="row-layout group_4">
      <p class="text_2">
        Feature is included
      </p>
      <igx-icon class="icon_1">
        cancel
      </igx-icon>
    </div>
    <div class="row-layout group_4">
      <p class="text_2">
        Feature is included
      </p>
      <igx-icon class="icon_1">
        cancel
      </igx-icon>
    </div>
    <div class="row-layout group_7">
      <button igxButton="raised" igxRipple class="button">
        purchase now
      </button>
    </div>
  </div>
</div>
<igx-dialog [closeOnOutsideSelect]="true" [closeOnEscape]="true" #dialog9>
  <igx-dialog-title>
    <h5>
      Confirmation
    </h5>
  </igx-dialog-title>
  <ng-container>
    <p>Select Plan</p>
  </ng-container>
  <igx-dialog-actions>
    <button igxButton="flat" igxRipple [igxToggleAction]="dialog9">Cancel</button>
    <button igxButton="flat" igxRipple [igxToggleAction]="dialog9">OK</button>
  </igx-dialog-actions>
</igx-dialog>
