:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
}
.row-layout {
  display: flex;
}
.page-control {
  background-color: hsla(var(--ig-secondary-100));
  justify-content: flex-end;
  align-items: center;
  align-content: flex-start;
  position: relative;
  padding: 10px 30px;
  height: 64px;
  min-width: 50px;
  min-height: 64px;
  max-height: 64px;
  flex-shrink: 0;
}
.nav {
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  position: relative;
  padding: 20px;
  min-width: 50px;
  min-height: 50px;
}
.group {
  background-color: hsla(var(--ig-gray-200));
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  position: relative;
  width: 50px;
  height: 45px;
  min-width: 50px;
  min-height: 45px;
  flex-shrink: 0;
}
.group_1 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-grow: 1;
  flex-basis: 0;
}
.transaction-list {
  justify-content: flex-start;
  align-items: baseline;
  align-content: flex-start;
  position: relative;
  padding: 30px 20px 20px;
  width: 100%;
  min-width: 50px;
  min-height: 50px;
}
.button {
  height: max-content;
  flex-shrink: 0;
}
.button_1 {
  margin: 0 0 0 30px;
  height: max-content;
  flex-shrink: 0;
}
.button_2 {
  --igx-button-foreground: hsla(var(--ig-gray-800));
  --igx-button-background: hsla(var(--ig-gray-200));
}
.icon {
  --size: 24px;
  font-size: 24px;
  width: 24px;
  height: 24px;
}
.text {
  margin: 0 0 0 10px;
  height: max-content;
  min-width: min-content;
}
.nav-drawer {
  min-width: min-content;
  min-height: 0;
  flex-shrink: 0;
}
.nav-drawer-item {
  margin: 20px 0 0;
}
.grid {
  min-width: 50px;
  min-height: 50px;
  flex-grow: 1;
  flex-basis: 0;
}
