<div class="row-layout page-control">
  <button igxButton="flat" igxRipple class="button">
    Save Changes
  </button>
  <button igxButton="flat" igxRipple routerLink="/stakeholders-module/stakeholder-new" class="button">
    NEW CLIENT
  </button>
</div>
<div class="row-layout group">
  <div class="row-layout transaction-list">
    <igx-grid [data]="northwindOrders" primaryKey="orderID" displayDensity="cosy" cellSelection="single" [allowFiltering]="true" filterMode="quickFilter" height="400px" class="grid">
      <igx-column field="orderID" dataType="number" header="orderID" [sortable]="true" [hasSummary]="true" [selectable]="false"></igx-column>
      <igx-paginator [perPage]="10"></igx-paginator>
      <igx-column field="customerID" dataType="string" header="customerID" [sortable]="true" [hasSummary]="true" [selectable]="false"></igx-column>
      <igx-column field="employeeID" dataType="number" header="employeeID" [sortable]="true" [hasSummary]="true" [selectable]="false"></igx-column>
      <igx-column field="orderDate" dataType="date" header="orderDate" [sortable]="true" [hasSummary]="true" [selectable]="false"></igx-column>
      <igx-column field="requiredDate" dataType="date" header="requiredDate" [sortable]="true" [hasSummary]="true" [selectable]="false"></igx-column>
      <igx-column field="shippedDate" dataType="date" header="shippedDate" [sortable]="true" [hasSummary]="true" [selectable]="false"></igx-column>
      <igx-column field="shipVia" dataType="number" header="shipVia" [sortable]="true" [hasSummary]="true" [selectable]="false"></igx-column>
      <igx-column field="freight" dataType="number" header="freight" [sortable]="true" [hasSummary]="true" [selectable]="false"></igx-column>
      <igx-column field="shipName" dataType="string" header="shipName" [sortable]="true" [hasSummary]="true" [selectable]="false"></igx-column>
      <igx-column field="shipAddress.street" dataType="string" header="shipAddress street" [sortable]="true" [hasSummary]="true" [selectable]="false"></igx-column>
      <igx-column field="shipAddress.city" dataType="string" header="shipAddress city" [sortable]="true" [hasSummary]="true" [selectable]="false"></igx-column>
      <igx-column field="shipAddress.region" dataType="string" header="shipAddress region" [sortable]="true" [hasSummary]="true" [selectable]="false"></igx-column>
      <igx-column field="shipAddress.postalCode" dataType="string" header="shipAddress postalCode" [sortable]="true" [hasSummary]="true" [selectable]="false"></igx-column>
      <igx-column field="shipAddress.country" dataType="string" header="shipAddress country" [sortable]="true" [hasSummary]="true" [selectable]="false"></igx-column>
    </igx-grid>
  </div>
</div>
