<div class="row-layout main">
  <div class="column-layout product-1">
    <img src="/assets/dappImage.png" class="image" />
    <div class="row-layout group"></div>
    <div class="row-layout group_1">
      <h5 class="h5">
        Certified Export
      </h5>
      <div class="column-layout group_2">
        <h4 class="h4">
          €50
        </h4>
        <div class="column-layout group_3">
          <igx-badge type="error" value="ADD" class="badge"></igx-badge>
        </div>
      </div>
    </div>
    <p class="text">
      When a certified paper export of a transaction is required for legal reasons. 
    </p>
  </div>
  <div class="column-layout product-1">
    <img src="/assets/dappImage.png" class="image" />
    <div class="row-layout group"></div>
    <div class="row-layout group_1">
      <h5 class="h5">
        MIRMA
      </h5>
      <div class="column-layout group_2">
        <h4 class="h4">
          €50
        </h4>
        <div class="column-layout group_3">
          <igx-badge type="error" value="ADD" class="badge"></igx-badge>
        </div>
      </div>
    </div>
    <p class="text">
      Insurance Professionals can join MIRMA to take advantage of specail features for the Insurance Industry
    </p>
  </div>
  <div class="column-layout product-2">
    <img src="/assets/dappImage.png" class="image" />
    <div class="row-layout group"></div>
    <div class="row-layout group_1">
      <h5 class="h5">
        TIVE SOLO 5G
      </h5>
      <div class="column-layout group_2">
        <h4 class="h4">
          €50
        </h4>
        <div class="column-layout group_3">
          <igx-badge type="error" value="ADD" class="badge"></igx-badge>
        </div>
      </div>
    </div>
    <p class="text">
      World's first single-use multi-sensor tracker provides real-time visibility into the location, temperature, humidity, shock, and light of your goods in-transit, at the item-level, from end to end.
    </p>
  </div>
</div>
