<div class="column-layout main">
  <igx-card type="outlined" class="card">
    <igx-card-header>
      <h3 igxCardHeaderTitle>
        Welcome to Boex
      </h3>
      <h5 igxCardHeaderSubtitle>
        Signup
      </h5>
    </igx-card-header>
    <igx-card-content class="body-content">
      <div class="column-layout address">
        <igx-input-group type="border" class="input">
          <input type="text" igxInput />
          <label igxLabel>Government ID Type</label>
        </igx-input-group>
        <igx-input-group type="border" class="input">
          <input type="text" igxInput />
          <label igxLabel>Government ID Number</label>
        </igx-input-group>
        <igx-input-group type="border" class="input">
          <input type="text" igxInput />
          <label igxLabel>Photo 1</label>
        </igx-input-group>
        <igx-input-group type="border" class="input">
          <input type="text" igxInput />
          <label igxLabel>Photo 2</label>
        </igx-input-group>
      </div>
    </igx-card-content>
    <igx-card-actions class="actions-content">
      <ng-container igxStart></ng-container>
      <ng-container igxEnd></ng-container>
    </igx-card-actions>
  </igx-card>
</div>
