<igx-card class="card">
  <igx-card-header>
    <h3 igxCardHeaderTitle>
       
    </h3>
    <h5 igxCardHeaderSubtitle>
       
    </h5>
  </igx-card-header>
  <igx-card-content class="body-content">
    <div class="column-layout login-frame">
      <img src="/assets/3550b6d139ff29ebe49644d46bb53dfaa023ce38.png" class="boex-image" />
      <h5 class="h5">
        Log into BOEX
      </h5>
      <img src="/assets/Sign-In-Small---Default.png" class="image" />
      <button igxButton="raised" igxRipple class="button">
        Sign In with Metamask
      </button>
      <div class="row-layout group">
        <div class="column-layout line-1"></div>
        <p class="text">
          or
        </p>
        <div class="column-layout line-1"></div>
      </div>
      <igx-input-group type="border" class="username">
        <input type="text" placeholder="Input Text" igxInput />
        <label igxLabel>Username</label>
      </igx-input-group>
      <igx-input-group type="border" class="password">
        <input type="password" placeholder="*******" igxInput />
        <label igxLabel>Password</label>
      </igx-input-group>
      <button igxButton="raised" igxRipple class="button_1">
        Sign In
      </button>
      <div class="row-layout group_1">
        <a target="_self" class="ig-typography__body-1 hyperlink">
          Forgot Password?
        </a>
      </div>
    </div>
  </igx-card-content>
  <igx-card-actions class="actions-content">
    <ng-container igxStart></ng-container>
    <ng-container igxEnd></ng-container>
  </igx-card-actions>
</igx-card>
