<div class="row-layout page-control">
  <h5 class="content">
    BOE #1234 History
  </h5>
</div>
<div class="column-layout main">
  <igx-accordion [singleBranchExpand]="false" class="accordion">
    <igx-expansion-panel>
      <igx-expansion-panel-body>
        <div class="column-layout terms-container">
          <div class="row-layout page-control-1">
            <div class="row-layout group">
              <h4 class="content">
                Terms
              </h4>
            </div>
            <div class="row-layout group_1">
              <h5 class="h5">
                Old
              </h5>
              <h5 class="h5_1">
                New
              </h5>
            </div>
          </div>
          <div class="column-layout main-1">
            <div class="row-layout issued-location">
              <h5 class="h5_2">
                Issued Location:
              </h5>
              <igx-input-group type="border" class="user-input">
                <input type="text" igxInput />
              </igx-input-group>
              <igx-input-group type="border" class="user-input_1">
                <input type="text" igxInput />
              </igx-input-group>
            </div>
            <div class="row-layout presentation-date">
              <h5 class="h5_2">
                Presentation Date:
              </h5>
              <igx-input-group type="border" class="user-input">
                <input type="text" igxInput />
              </igx-input-group>
              <igx-input-group type="border" class="user-input_1">
                <input type="text" igxInput />
              </igx-input-group>
            </div>
            <div class="row-layout presentation-date">
              <h5 class="h5_2">
                Date of Issue
              </h5>
              <igx-date-picker type="border" mode="dialog" class="user-input">
                <label igxLabel>Date</label>
              </igx-date-picker>
              <igx-date-picker type="border" mode="dialog" class="user-input_1">
                <label igxLabel>Date</label>
              </igx-date-picker>
            </div>
            <div class="row-layout presentation-date">
              <h5 class="h5_2">
                Terms
              </h5>
              <igx-input-group type="border" class="user-input">
                <input type="text" igxInput />
              </igx-input-group>
              <igx-input-group type="border" class="user-input_1">
                <input type="text" igxInput />
              </igx-input-group>
            </div>
            <div class="row-layout presentation-date">
              <h5 class="h5_2">
                Amount
              </h5>
              <div class="row-layout group_2">
                <igx-input-group type="border" class="input">
                  <input type="number" igxInput />
                </igx-input-group>
                <igx-select type="border" class="select">
                  <igx-select-item value="Option">
                    Option
                  </igx-select-item>
                  <label igxLabel>Label/Placeholder</label>
                </igx-select>
              </div>
              <div class="row-layout group_3">
                <igx-input-group type="border" class="input">
                  <input type="number" igxInput />
                </igx-input-group>
                <igx-select type="border" class="select">
                  <igx-select-item value="Option">
                    Option
                  </igx-select-item>
                  <label igxLabel>Label/Placeholder</label>
                </igx-select>
              </div>
            </div>
          </div>
        </div>
        <div class="column-layout terms-container">
          <div class="row-layout page-control-5">
            <div class="row-layout group_4">
              <h4 class="content">
                Attatched Documents
              </h4>
            </div>
          </div>
          <div class="column-layout main-5">
            <div class="row-layout terms-container">
              <igx-list class="list">
                <igx-list-item [isHeader]="false">
                  <span igxListThumbnail>
                    <igx-avatar shape="circle" class="avatar">
                      <igx-icon>
                        add
                      </igx-icon>
                    </igx-avatar>
                  </span>
                  <span igxListLineTitle>File added</span>
                </igx-list-item>
                <igx-list-item [isHeader]="false">
                  <span igxListThumbnail>
                    <igx-avatar shape="circle" class="avatar avatar_1">
                      <igx-icon>
                        add
                      </igx-icon>
                    </igx-avatar>
                  </span>
                  <span igxListLineTitle>Old file</span>
                </igx-list-item>
                <igx-list-item [isHeader]="false">
                  <span igxListThumbnail>
                    <igx-avatar shape="circle" class="avatar">
                      <igx-icon>
                        remove
                      </igx-icon>
                    </igx-avatar>
                  </span>
                  <span igxListLineTitle>File Removed</span>
                </igx-list-item>
                <igx-list-item [isHeader]="false">
                  <span igxListThumbnail>
                    <igx-avatar shape="circle" class="avatar">
                      <igx-icon>
                        add
                      </igx-icon>
                    </igx-avatar>
                  </span>
                  <span igxListLineTitle>File added</span>
                </igx-list-item>
              </igx-list>
            </div>
          </div>
        </div>
      </igx-expansion-panel-body>
      <igx-expansion-panel-header>
        <igx-expansion-panel-title>Jan 12, 2022 - Sean Copeland</igx-expansion-panel-title>
      </igx-expansion-panel-header>
    </igx-expansion-panel>
    <igx-expansion-panel>
      <igx-expansion-panel-body>
        <div class="row-layout page-control-2">
          <div class="row-layout group_4">
            <h4 class="content">
              Attatched Documents
            </h4>
          </div>
        </div>
        <div class="column-layout main-2">
          <div class="row-layout terms-container">
            <igx-list class="list">
              <igx-list-item [isHeader]="false">
                <span igxListThumbnail>
                  <igx-avatar shape="circle" class="avatar">
                    <igx-icon>
                      add
                    </igx-icon>
                  </igx-avatar>
                </span>
                <span igxListLineTitle>File added</span>
              </igx-list-item>
              <igx-list-item [isHeader]="false">
                <span igxListThumbnail>
                  <igx-avatar shape="circle" class="avatar avatar_2">
                    <igx-icon>
                      add
                    </igx-icon>
                  </igx-avatar>
                </span>
                <span igxListLineTitle>Old file</span>
              </igx-list-item>
              <igx-list-item [isHeader]="false">
                <span igxListThumbnail>
                  <igx-avatar shape="circle" class="avatar">
                    <igx-icon>
                      remove
                    </igx-icon>
                  </igx-avatar>
                </span>
                <span igxListLineTitle>File Removed</span>
              </igx-list-item>
              <igx-list-item [isHeader]="false">
                <span igxListThumbnail>
                  <igx-avatar shape="circle" class="avatar">
                    <igx-icon>
                      add
                    </igx-icon>
                  </igx-avatar>
                </span>
                <span igxListLineTitle>File added</span>
              </igx-list-item>
            </igx-list>
          </div>
        </div>
      </igx-expansion-panel-body>
      <igx-expansion-panel-header>
        <igx-expansion-panel-title>Dec 12, 2021 - Graham Stroh</igx-expansion-panel-title>
      </igx-expansion-panel-header>
    </igx-expansion-panel>
    <igx-expansion-panel>
      <igx-expansion-panel-body>
        <div class="row-layout page-control-2">
          <div class="row-layout group_5">
            <h4 class="content">
              Notify Party
            </h4>
          </div>
        </div>
        <div class="column-layout main-2">
          <div class="row-layout terms-container">
            <igx-list class="list">
              <igx-list-item [isHeader]="false">
                <span igxListThumbnail>
                  <igx-avatar shape="circle" class="avatar">
                    <igx-icon>
                      add
                    </igx-icon>
                  </igx-avatar>
                </span>
                <span igxListLineTitle>New Notify Party</span>
              </igx-list-item>
              <igx-list-item [isHeader]="false">
                <span igxListThumbnail>
                  <igx-avatar shape="circle" class="avatar avatar_3">
                    <igx-icon>
                      add
                    </igx-icon>
                  </igx-avatar>
                </span>
                <span igxListLineTitle>Old Notify Party</span>
              </igx-list-item>
              <igx-list-item [isHeader]="false">
                <span igxListThumbnail>
                  <igx-avatar shape="circle" class="avatar">
                    <igx-icon>
                      remove
                    </igx-icon>
                  </igx-avatar>
                </span>
                <span igxListLineTitle>Removed Notify Party</span>
              </igx-list-item>
              <igx-list-item [isHeader]="false">
                <span igxListThumbnail>
                  <igx-avatar shape="circle" class="avatar">
                    <igx-icon>
                      add
                    </igx-icon>
                  </igx-avatar>
                </span>
                <span igxListLineTitle>New Notify Party</span>
              </igx-list-item>
            </igx-list>
          </div>
        </div>
      </igx-expansion-panel-body>
      <igx-expansion-panel-header>
        <igx-expansion-panel-title>Nov 12, 2021 Sean Copeland</igx-expansion-panel-title>
      </igx-expansion-panel-header>
    </igx-expansion-panel>
    <igx-expansion-panel>
      <igx-expansion-panel-body>
        <div class="row-layout page-control-2">
          <div class="row-layout group_5">
            <h4 class="content">
              Enhancers
            </h4>
          </div>
        </div>
        <div class="column-layout main-2">
          <div class="row-layout terms-container">
            <igx-list class="list">
              <igx-list-item [isHeader]="false">
                <span igxListThumbnail>
                  <igx-avatar shape="circle" class="avatar avatar_4">
                    <igx-icon>
                      add
                    </igx-icon>
                  </igx-avatar>
                </span>
                <span igxListLineTitle>New Enhancer</span>
              </igx-list-item>
              <igx-list-item [isHeader]="false">
                <span igxListThumbnail>
                  <igx-avatar shape="circle" class="avatar avatar_5">
                    <igx-icon>
                      add
                    </igx-icon>
                  </igx-avatar>
                </span>
                <span igxListLineTitle>Old Enhancer</span>
              </igx-list-item>
              <igx-list-item [isHeader]="false">
                <span igxListThumbnail>
                  <igx-avatar shape="circle" class="avatar avatar_6">
                    <igx-icon>
                      remove
                    </igx-icon>
                  </igx-avatar>
                </span>
                <span igxListLineTitle>Removed Enhancer</span>
              </igx-list-item>
              <igx-list-item [isHeader]="false">
                <span igxListThumbnail>
                  <igx-avatar shape="circle" class="avatar avatar_7">
                    <igx-icon>
                      add
                    </igx-icon>
                  </igx-avatar>
                </span>
                <span igxListLineTitle>New Enhancer</span>
              </igx-list-item>
            </igx-list>
          </div>
        </div>
      </igx-expansion-panel-body>
      <igx-expansion-panel-header>
        <igx-expansion-panel-title>Jan 12, 2022 - Sean Copeland</igx-expansion-panel-title>
      </igx-expansion-panel-header>
    </igx-expansion-panel>
  </igx-accordion>
</div>
