<div class="column-layout group">
  <div class="column-layout terms">
    <div class="row-layout page-control">
      <div class="row-layout group_1">
        <div class="row-layout group_2"></div>
        <div class="column-layout group_3">
          <h5 class="h5">
            Other Party
          </h5>
        </div>
      </div>
      <div class="row-layout group_1">
        <div class="column-layout group_4">
          <h5 class="content">
            You
          </h5>
        </div>
        <div class="row-layout group_5"></div>
      </div>
    </div>
    <div class="column-layout group_6">
      <div class="row-layout issued-location-3">
        <div class="row-layout group_7">
          <h5 class="h5_2">
            Issued Location:
          </h5>
          <div class="row-layout group_8">
            <igx-input-group type="border" class="input">
              <input type="number" igxInput />
            </igx-input-group>
            <igx-input-group type="border" class="input">
              <input type="number" igxInput />
            </igx-input-group>
            <igx-select type="border" class="select">
              <igx-select-item value="Option">
                Option
              </igx-select-item>
              <label igxLabel>Label/Placeholder</label>
            </igx-select>
          </div>
        </div>
        <div class="row-layout group_9">
          <igx-input-group type="border" class="input_1">
            <input type="text" igxInput />
          </igx-input-group>
          <div class="row-layout group_10">
            <igx-checkbox labelPosition="after" class="checkbox">
              Agree
            </igx-checkbox>
          </div>
        </div>
      </div>
      <div class="row-layout issued-location-3">
        <div class="row-layout group_1">
          <h5 class="h5_2">
            Presentation Date
          </h5>
          <igx-input-group type="border" class="input_2">
            <input type="text" igxInput />
          </igx-input-group>
        </div>
        <div class="row-layout group_9">
          <igx-input-group type="border" class="input_1">
            <input type="text" igxInput />
          </igx-input-group>
          <div class="row-layout group_10">
            <igx-checkbox labelPosition="after" class="checkbox">
              Agree
            </igx-checkbox>
          </div>
        </div>
      </div>
      <div class="row-layout issued-location-3">
        <div class="row-layout group_1">
          <h5 class="h5_2">
            Date of Issue
          </h5>
          <igx-input-group type="border" class="input_2">
            <input type="text" igxInput />
          </igx-input-group>
        </div>
        <div class="row-layout group_9">
          <igx-input-group type="border" class="input_1">
            <input type="text" igxInput />
          </igx-input-group>
          <div class="row-layout group_10">
            <igx-checkbox labelPosition="after" class="checkbox">
              Agree
            </igx-checkbox>
          </div>
        </div>
      </div>
      <div class="row-layout issued-location-3">
        <div class="row-layout group_1">
          <h5 class="h5_2">
            Terms
          </h5>
          <igx-input-group type="border" class="input_2">
            <input type="text" igxInput />
          </igx-input-group>
        </div>
        <div class="row-layout group_9">
          <igx-input-group type="border" class="input_1">
            <input type="text" igxInput />
          </igx-input-group>
          <div class="row-layout group_10">
            <igx-checkbox labelPosition="after" class="checkbox">
              Agree
            </igx-checkbox>
          </div>
        </div>
      </div>
      <div class="row-layout issued-location-3">
        <div class="row-layout group_1">
          <h5 class="h5_2">
            Ammount
          </h5>
          <div class="row-layout group_8">
            <igx-input-group type="border" class="input">
              <input type="number" igxInput />
            </igx-input-group>
            <igx-select type="border" class="select">
              <igx-select-item value="Option">
                Option
              </igx-select-item>
              <label igxLabel>Label/Placeholder</label>
            </igx-select>
          </div>
        </div>
        <div class="row-layout group_9">
          <div class="row-layout group_11">
            <igx-input-group type="border" class="input">
              <input type="number" igxInput />
            </igx-input-group>
            <igx-select type="border" class="select">
              <igx-select-item value="Option">
                Option
              </igx-select-item>
              <label igxLabel>Label/Placeholder</label>
            </igx-select>
          </div>
          <div class="row-layout group_10">
            <igx-checkbox labelPosition="after" class="checkbox">
              Agree
            </igx-checkbox>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="column-layout documents">
    <div class="row-layout page-banner">
      <h5 class="h5_3">
        Atached Document(s)
      </h5>
    </div>
    <div class="row-layout group_12">
      <div class="column-layout group_13">
        <div class="column-layout group_14">
          <p class="content">
            Your Documents
          </p>
          <div class="column-layout group_15">
            <a target="_blank" class="ig-typography__body-1 hyperlink">
              dfwgwergwergwergwergwergwergwerg
            </a>
            <a target="_blank" class="ig-typography__body-1 hyperlink">
              This is a link
            </a>
            <a target="_blank" class="ig-typography__body-1 hyperlink">
              This is a link
            </a>
            <a target="_blank" class="ig-typography__body-1 hyperlink">
              This is a link
            </a>
            <a target="_blank" class="ig-typography__body-1 hyperlink">
              This is a link
            </a>
          </div>
        </div>
        <div class="column-layout group_16">
          <div *ngIf="groupVisible14" class="column-layout group_17">
            <div class="row-layout group_18">
              <h5 class="content">
                New Files
              </h5>
            </div>
            <igx-list class="list">
              <igx-list-item [isHeader]="false">
                <span igxListLine>
                  <div class="row-layout group_19">
                    <p class="text">
                      File
                    </p>
                    <igx-checkbox class="checkbox_1"></igx-checkbox>
                  </div>
                </span>
              </igx-list-item>
              <igx-list-item [isHeader]="false">
                <span igxListLine>
                  <div class="row-layout group_19">
                    <p class="text">
                      File
                    </p>
                    <igx-checkbox class="checkbox_1"></igx-checkbox>
                  </div>
                </span>
              </igx-list-item>
              <igx-list-item [isHeader]="false">
                <span igxListLine>
                  <div class="row-layout group_19">
                    <p class="text">
                      File
                    </p>
                    <igx-checkbox class="checkbox_1"></igx-checkbox>
                  </div>
                </span>
              </igx-list-item>
              <igx-list-item [isHeader]="false">
                <span igxListLine>
                  <div class="row-layout group_19">
                    <p class="text">
                      File
                    </p>
                    <igx-checkbox class="checkbox_1"></igx-checkbox>
                  </div>
                </span>
              </igx-list-item>
            </igx-list>
            <button igxButton="raised" igxRipple class="button">
              Remove Selected Files
            </button>
          </div>
          <button igxButton="raised" igxRipple *ngIf="buttonVisible" class="button_1">
            Add Files
          </button>
        </div>
      </div>
      <div class="column-layout group_20">
        <p class="content">
          Their Documents
        </p>
        <a target="_blank" class="ig-typography__body-1 hyperlink">
          This is a link
        </a>
        <a target="_blank" class="ig-typography__body-1 hyperlink">
          This is a link
        </a>
        <a target="_blank" class="ig-typography__body-1 hyperlink">
          This is a link
        </a>
        <a target="_blank" class="ig-typography__body-1 hyperlink">
          This is a link
        </a>
        <a target="_blank" class="ig-typography__body-1 hyperlink">
          This is a link
        </a>
      </div>
    </div>
  </div>
  <div class="column-layout notify-party">
    <div class="row-layout page-control-2">
      <div class="column-layout group_21">
        <h5 class="content">
          Notify Party
        </h5>
      </div>
      <div class="column-layout group_21">
        <h5 class="content">
          Enhancers
        </h5>
      </div>
    </div>
    <div class="row-layout group_12">
      <div class="column-layout group">
        <a target="_blank" class="ig-typography__body-1 hyperlink">
          This is a link
        </a>
        <a target="_blank" class="ig-typography__body-1 hyperlink">
          This is a link
        </a>
        <igx-snackbar actionText="Action" (ActionButtonClick)="snackbar.toggle()" #snackbar class="snackbar">
          This is a message
        </igx-snackbar>
        <a target="_blank" class="ig-typography__body-1 hyperlink">
          This is a link
        </a>
        <a target="_blank" class="ig-typography__body-1 hyperlink">
          This is a link
        </a>
        <a target="_blank" class="ig-typography__body-1 hyperlink">
          This is a link
        </a>
        <div class="column-layout group_22">
          <button igxButton="raised" igxRipple class="button_2">
            Add Party
          </button>
        </div>
      </div>
      <div class="column-layout group">
        <a target="_blank" class="ig-typography__body-1 hyperlink">
          This is a link
        </a>
        <a target="_blank" class="ig-typography__body-1 hyperlink">
          This is a link
        </a>
        <a target="_blank" class="ig-typography__body-1 hyperlink">
          This is a link
        </a>
        <a target="_blank" class="ig-typography__body-1 hyperlink">
          This is a link
        </a>
        <a target="_blank" class="ig-typography__body-1 hyperlink">
          This is a link
        </a>
        <div class="column-layout group_22">
          <button igxButton="raised" igxRipple class="button_2">
            Add Enhancer
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="column-layout documents">
    <div class="row-layout page-banner">
      <h5 class="h5_3">
        Insurance
      </h5>
    </div>
    <div class="row-layout group_23">
      <igx-card type="outlined" class="card">
        <igx-card-media height="200px">
          <img src="/assets/chubb_logo_white.png" class="image" />
        </igx-card-media>
        <igx-card-header>
          <h3 igxCardHeaderTitle>
            Chubb
          </h3>
          <h5 igxCardHeaderSubtitle>
            While in transit, your shipments are vulnerable to a wide variety of risks. With Chubb’s flexible solutions, we can help you tailor a policy that offers coverage for your specific risks.
          </h5>
        </igx-card-header>
        <igx-card-content class="body-content">
          <igx-checkbox labelPosition="after" class="checkbox_1">
            Request Quote
          </igx-checkbox>
        </igx-card-content>
        <igx-card-actions class="actions-content">
          <ng-container igxEnd></ng-container>
        </igx-card-actions>
      </igx-card>
      <igx-card type="outlined" class="card">
        <igx-card-media height="200px">
          <img src="/assets/aig-logo.png" class="image" />
        </igx-card-media>
        <igx-card-header>
          <h3 igxCardHeaderTitle>
            AIG
          </h3>
          <h5 igxCardHeaderSubtitle>
            Our cargo insurance programs are designed to provide comprehensive coverage for goods in transit for manufacturers, importers and exporters, commodity traders, logistics companies and more. We can also provide numerous extensions to coverage such as pure domestic transit movements, warehouse, storage, exhibition, and processing or consolidation risks.
          </h5>
        </igx-card-header>
        <igx-card-content class="body-content">
          <igx-checkbox labelPosition="after" class="checkbox_1">
            Request Quote
          </igx-checkbox>
        </igx-card-content>
        <igx-card-actions class="actions-content">
          <ng-container igxEnd></ng-container>
        </igx-card-actions>
      </igx-card>
      <igx-card type="outlined" class="card">
        <igx-card-media height="200px">
          <img src="/assets/Marsh-header-rgb-blue.svg" class="image" />
        </igx-card-media>
        <igx-card-header>
          <h3 igxCardHeaderTitle>
            Marsh
          </h3>
          <h5 igxCardHeaderSubtitle>
            With over 100 years of cargo and logistics expertise, our team of advisors at Marsh will work with your company to minimize your risk exposures and navigate business-related challenges through our innovative application of industry-leading data, analytics, and benchmarking
          </h5>
        </igx-card-header>
        <igx-card-content class="body-content">
          <igx-checkbox labelPosition="after" class="checkbox_1">
            Request Quote
          </igx-checkbox>
        </igx-card-content>
        <igx-card-actions class="actions-content">
          <ng-container igxEnd></ng-container>
        </igx-card-actions>
      </igx-card>
    </div>
  </div>
  <div class="column-layout notify-party">
    <div class="row-layout page-control">
      <h5 class="content">
        Bank Information
      </h5>
    </div>
    <div class="column-layout group_24">
      <div class="row-layout group_25">
        <div class="column-layout group_26">
          <div class="row-layout group_27">
            <igx-checkbox labelPosition="after" class="checkbox_2">
              Use information on file
            </igx-checkbox>
            <igx-select type="border" class="select_1">
              <igx-select-item value="Option">
                Option
              </igx-select-item>
              <label igxLabel>Bank Account</label>
            </igx-select>
          </div>
          <igx-input-group type="border" class="input_3">
            <input type="text" igxInput />
            <label igxLabel>Bank Name</label>
          </igx-input-group>
          <igx-input-group type="border" class="user-input_1">
            <input type="text" igxInput />
            <label igxLabel>Bank Address</label>
          </igx-input-group>
          <div class="row-layout group_28">
            <igx-input-group type="border" class="user-input">
              <input type="text" igxInput />
              <label igxLabel>Bank City</label>
            </igx-input-group>
            <igx-input-group type="border" class="input_6">
              <input type="text" igxInput />
              <label igxLabel>Bank State</label>
            </igx-input-group>
          </div>
          <div class="row-layout group_29">
            <igx-select type="border" class="user-input">
              <igx-select-item value="Option">
                Option
              </igx-select-item>
              <label igxLabel>Bank Country</label>
            </igx-select>
            <igx-input-group type="border" class="input_6">
              <input type="text" igxInput />
              <label igxLabel>Bank Postal Code</label>
            </igx-input-group>
          </div>
          <igx-input-group type="border" class="input_3">
            <input type="text" igxInput />
            <label igxLabel>Bank Phone</label>
          </igx-input-group>
          <igx-input-group type="border" class="input_3">
            <input type="text" igxInput />
            <label igxLabel>Bank IBAN</label>
          </igx-input-group>
          <igx-input-group type="border" class="input_3">
            <input type="text" igxInput />
            <label igxLabel>Bank Swift</label>
          </igx-input-group>
          <div class="row-layout group_29">
            <igx-input-group type="border" class="user-input">
              <input type="text" igxInput />
              <label igxLabel>Bank Routing</label>
            </igx-input-group>
            <igx-input-group type="border" class="input_6">
              <input type="text" igxInput />
              <label igxLabel>Bank Account</label>
            </igx-input-group>
          </div>
        </div>
      </div>
      <button igxButton="raised" igxRipple class="user-input_1">
        Submit new terms
      </button>
    </div>
  </div>
</div>
<igx-dialog [closeOnOutsideSelect]="true" [closeOnEscape]="true" #dialog2>
  <igx-dialog-title>
    <h5>
      Confirmation
    </h5>
  </igx-dialog-title>
  <ng-container>
    <p>Are you sure you want to do this?</p>
  </ng-container>
  <igx-dialog-actions>
    <button igxButton="flat" igxRipple [igxToggleAction]="dialog2">Cancel</button>
    <button igxButton="flat" igxRipple [igxToggleAction]="dialog2">OK</button>
  </igx-dialog-actions>
</igx-dialog>
