:host {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  overflow: auto;
}
.column-layout {
  display: flex;
  flex-direction: column;
}
.group {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-grow: 1;
  flex-basis: 0;
}
.terms {
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  position: relative;
  min-width: min-content;
  min-height: min-content;
  flex-grow: 1;
  flex-basis: 0;
}
.row-layout {
  display: flex;
}
.page-control {
  background-color: hsla(var(--ig-success-500));
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  position: relative;
  padding: 10px 3rem;
  min-width: 50px;
  min-height: 50px;
  max-height: 64px;
  flex-grow: 1;
  flex-basis: 0;
}
.group_1 {
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  position: relative;
  width: 50%;
  min-width: 50px;
  min-height: 50px;
}
.group_2 {
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  margin: 0 2rem 0 0;
  width: 12rem;
  min-width: 12rem;
  min-height: 50px;
}
.group_3 {
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  position: relative;
  padding: 0 3rem 0 0;
  min-width: min-content;
  min-height: 50px;
  flex-grow: 1;
  flex-basis: 0;
}
.group_4 {
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  position: relative;
  margin: 0 0 0 3rem;
  min-width: 50px;
  min-height: 50px;
  flex-grow: 1;
  flex-basis: 0;
}
.group_5 {
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  position: relative;
  width: 13rem;
  min-height: 50px;
}
.group_6 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 1rem;
  position: relative;
  padding: 1rem 3rem;
  min-width: 50px;
  min-height: min-content;
  flex-grow: 1;
  flex-basis: 0;
}
.issued-location-3 {
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  position: relative;
  min-width: 50px;
  min-height: 50px;
}
.group_7 {
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-grow: 1;
  flex-basis: 0;
}
.group_8 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  margin: 0 3rem 0 0;
  min-width: 50px;
  min-height: 50px;
  flex-grow: 1;
  flex-basis: 0;
}
.group_9 {
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  position: relative;
  width: 50%;
  min-width: 50px;
  min-height: 50px;
  flex-shrink: 0;
}
.group_10 {
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  position: relative;
  width: 13rem;
  min-width: min-content;
  min-height: 50px;
}
.group_11 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  margin: 0 0 0 3rem;
  min-width: 50px;
  min-height: 50px;
  flex-grow: 1;
  flex-basis: 0;
}
.documents {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  min-width: min-content;
  min-height: min-content;
  flex-shrink: 0;
}
.page-banner {
  background-color: hsla(var(--ig-success-500));
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  position: relative;
  padding: 10px 3rem;
  width: 100%;
  min-width: 50px;
  min-height: 50px;
  max-height: 64px;
  flex-grow: 1;
  flex-basis: 0;
}
.group_12 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 1rem;
  position: relative;
  padding: 1rem 3rem;
  min-width: min-content;
  min-height: min-content;
  flex-grow: 1;
  flex-basis: 0;
}
.group_13 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  height: min-content;
  min-width: 50%;
  min-height: 50px;
  flex-grow: 1;
  flex-basis: 0;
}
.group_14 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  min-width: min-content;
  min-height: 50px;
}
.group_15 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  margin: 0 0 1rem;
  min-width: 50px;
  min-height: 50px;
}
.group_16 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  height: min-content;
  min-width: min-content;
  min-height: min-content;
}
.group_17 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  min-width: 50px;
  min-height: 50px;
}
.group_18 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  min-width: 50px;
  min-height: min-content;
  flex-grow: 1;
  flex-shrink: 0;
}
.group_19 {
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  gap: 1rem;
  position: relative;
  width: min-content;
  min-width: 50px;
  min-height: 50px;
}
.group_20 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  height: min-content;
  min-width: min-content;
  min-height: 50%;
  flex-grow: 1;
  flex-basis: 0;
}
.notify-party {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  min-width: min-content;
  min-height: min-content;
  flex-grow: 1;
  flex-basis: 0;
}
.page-control-2 {
  background-color: hsla(var(--ig-success-500));
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;
  position: relative;
  padding: 10px 3rem;
  min-width: 50px;
  min-height: 50px;
  max-height: 64px;
  flex-grow: 1;
  flex-basis: 0;
}
.group_21 {
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-grow: 1;
  flex-basis: 0;
}
.group_22 {
  justify-content: flex-end;
  align-items: flex-start;
  align-content: flex-start;
  position: relative;
  margin: 1rem 0 0;
  min-width: 50px;
  min-height: min-content;
  flex-grow: 1;
  flex-basis: 0;
}
.group_23 {
  justify-content: space-between;
  align-items: stretch;
  align-content: flex-start;
  gap: 1rem;
  position: relative;
  padding: 1rem 3rem;
  min-width: min-content;
  min-height: min-content;
  flex-grow: 1;
  flex-basis: 0;
}
.card {
  width: 320px;
  height: max-content;
  min-width: 320px;
  flex-shrink: 0;
}
.group_24 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 1rem;
  position: relative;
  padding: 1rem 3rem 3rem;
  height: min-content;
  min-width: min-content;
  min-height: min-content;
}
.group_25 {
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  position: relative;
  min-width: 50px;
  min-height: 50px;
}
.group_26 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 1rem;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-grow: 1;
  flex-basis: 0;
}
.group_27 {
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  gap: 1rem;
  position: relative;
  min-width: 50px;
  min-height: 50px;
}
.group_28 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 1rem;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-grow: 1;
  flex-shrink: 0;
}
.group_29 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 1rem;
  position: relative;
  min-width: 50px;
  min-height: 50px;
}
.h5 {
  text-align: center;
  height: max-content;
  min-width: 120px;
}
.content {
  height: max-content;
  min-width: min-content;
}
.h5_2 {
  margin: 0 2rem 0 0;
  width: 12rem;
  height: max-content;
  min-width: 12rem;
}
.h5_3 {
  height: max-content;
  min-width: min-content;
  flex-grow: 1;
  flex-basis: 0;
}
.hyperlink {
  color: hsla(var(--ig-info-500));
  height: max-content;
  min-width: min-content;
}
.text {
  width: 15rem;
  height: max-content;
  min-width: min-content;
}
.image {
  height: 100%;
}
.body-content {
  min-width: 50px;
  min-height: 50px;
}
.actions-content {
  min-width: 50px;
  min-height: 40px;
}
.input {
  height: max-content;
  min-width: min-content;
  flex-grow: 1;
  flex-basis: 0;
}
.select {
  width: 5rem;
  height: max-content;
  min-width: 3rem;
  flex-shrink: 0;
}
.input_1 {
  margin: 0 0 0 3rem;
  height: max-content;
  min-width: min-content;
  flex-grow: 1;
  flex-basis: 0;
}
.checkbox {
  margin: 0 0 0 3rem;
  width: max-content;
  height: max-content;
}
.input_2 {
  margin: 0 3rem 0 0;
  height: max-content;
  min-width: min-content;
  flex-grow: 1;
  flex-basis: 0;
}
.checkbox_1 {
  width: max-content;
  height: max-content;
}
.button {
  margin: 0 0 0 1rem;
  width: 17.5rem;
  height: max-content;
}
.button_1 {
  height: max-content;
}
.button_2 {
  margin: 0;
  width: 18rem;
  height: max-content;
}
.checkbox_2 {
  margin: 0;
  width: max-content;
  height: max-content;
}
.select_1 {
  height: max-content;
  min-width: min-content;
  flex-shrink: 0;
}
.input_3 {
  height: max-content;
  min-width: min-content;
  max-width: 50%;
}
.user-input_1 {
  height: max-content;
  max-width: 50%;
}
.user-input {
  height: max-content;
  min-width: min-content;
  max-width: 50%;
  flex-grow: 1;
  flex-shrink: 0;
}
.input_6 {
  height: max-content;
  min-width: min-content;
  max-width: 50%;
  flex-grow: 1;
  flex-basis: 0;
}
.list {
  width: min-content;
  height: max-content;
}
.snackbar {
  height: max-content;
  min-width: min-content;
}
