:host {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
}
.text {
  margin: 20px;
  width: 1905px;
  height: max-content;
  min-width: min-content;
}
