<div class="row-layout page-control">
  <div class="row-layout group">
    <h4 class="h4">
      Enhancers
    </h4>
  </div>
</div>
<div class="column-layout main">
  <div class="row-layout group_1">
    <igx-list class="list">
      <igx-list-item [isHeader]="false">
        <span igxListThumbnail>
          <igx-avatar shape="circle" class="avatar">
            <igx-icon>
              add
            </igx-icon>
          </igx-avatar>
        </span>
        <span igxListLineTitle>New Enhancer</span>
      </igx-list-item>
      <igx-list-item [isHeader]="false">
        <span igxListThumbnail>
          <igx-avatar shape="circle" class="avatar avatar_1">
            <igx-icon>
              add
            </igx-icon>
          </igx-avatar>
        </span>
        <span igxListLineTitle>Old Enhancer</span>
      </igx-list-item>
      <igx-list-item [isHeader]="false">
        <span igxListThumbnail>
          <igx-avatar shape="circle" class="avatar">
            <igx-icon>
              remove
            </igx-icon>
          </igx-avatar>
        </span>
        <span igxListLineTitle>Removed Enhancer</span>
      </igx-list-item>
      <igx-list-item [isHeader]="false">
        <span igxListThumbnail>
          <igx-avatar shape="circle" class="avatar">
            <igx-icon>
              add
            </igx-icon>
          </igx-avatar>
        </span>
        <span igxListLineTitle>New Enhancer</span>
      </igx-list-item>
    </igx-list>
  </div>
</div>
