:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
}
.row-layout {
  display: flex;
}
.page-control {
  background-color: hsla(var(--ig-success-500));
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  position: relative;
  padding: 10px 0;
  height: 50px;
  min-width: 50px;
  min-height: 50px;
  max-height: 64px;
  flex-grow: 1;
  flex-shrink: 0;
}
.group {
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  position: relative;
  padding: 0 0 0 3rem;
  min-width: 50px;
  min-height: 50px;
}
.column-layout {
  display: flex;
  flex-direction: column;
}
.main {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 0.5rem 0;
  position: relative;
  padding: 0 1rem;
  min-width: min-content;
  min-height: min-content;
  flex-grow: 1;
  flex-basis: 0;
}
.group_1 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  min-width: 50px;
  min-height: 50px;
}
.h4 {
  height: max-content;
  min-width: min-content;
}
.avatar {
  --igx-avatar-background: transparent;
}
.avatar_1::part(base) {
  --igx-avatar-color: transparent;
}
.list {
  height: max-content;
  flex-shrink: 0;
}
