<div class="column-layout group">
  <div class="column-layout title">
    <h5 class="h5">
      GENERAL
    </h5>
    <div class="column-layout group_1"></div>
  </div>
  <div class="row-layout cards">
    <igx-card type="outlined" class="card">
      <igx-card-header>
        <div igxCardThumbnail>
          <igx-avatar size="large" shape="circle" class="avatar">
            <igx-icon>
              person
            </igx-icon>
          </igx-avatar>
        </div>
        <h3 igxCardHeaderTitle>
          Business Setup
        </h3>
        <h5 igxCardHeaderSubtitle>
           
        </h5>
      </igx-card-header>
      <igx-card-content class="body-content">
        <p class="text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
        </p>
      </igx-card-content>
    </igx-card>
    <igx-card type="outlined" class="card">
      <igx-card-header>
        <div igxCardThumbnail>
          <igx-avatar size="large" shape="circle" class="avatar">
            <igx-icon>
              person
            </igx-icon>
          </igx-avatar>
        </div>
        <h3 igxCardHeaderTitle>
          Employee Setup
        </h3>
        <h5 igxCardHeaderSubtitle>
           
        </h5>
      </igx-card-header>
      <igx-card-content class="body-content">
        <p class="text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
        </p>
      </igx-card-content>
    </igx-card>
    <igx-card type="outlined" class="card_1">
      <igx-card-header>
        <div igxCardThumbnail>
          <igx-avatar size="large" shape="circle" class="avatar">
            <igx-icon>
              person
            </igx-icon>
          </igx-avatar>
        </div>
        <h3 igxCardHeaderTitle>
          General Setup
        </h3>
        <h5 igxCardHeaderSubtitle>
           
        </h5>
      </igx-card-header>
      <igx-card-content class="body-content">
        <p class="text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
        </p>
      </igx-card-content>
    </igx-card>
    <igx-card type="outlined" class="card_1">
      <igx-card-header>
        <div igxCardThumbnail>
          <igx-avatar size="large" shape="circle" class="avatar">
            <igx-icon>
              person
            </igx-icon>
          </igx-avatar>
        </div>
        <h3 igxCardHeaderTitle>
          Subscription Setup
        </h3>
        <h5 igxCardHeaderSubtitle>
           
        </h5>
      </igx-card-header>
      <igx-card-content class="body-content">
        <p class="text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
        </p>
      </igx-card-content>
    </igx-card>
    <igx-card type="outlined" class="card_2">
      <igx-card-header>
        <div igxCardThumbnail>
          <igx-avatar size="large" shape="circle" class="avatar">
            <igx-icon>
              person
            </igx-icon>
          </igx-avatar>
        </div>
        <h3 igxCardHeaderTitle>
          Company Branding
        </h3>
        <h5 igxCardHeaderSubtitle>
           
        </h5>
      </igx-card-header>
      <igx-card-content class="body-content">
        <p class="text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
        </p>
      </igx-card-content>
    </igx-card>
  </div>
</div>
<div class="column-layout group">
  <div class="column-layout title">
    <h5 class="h5">
      PAYMENTS
    </h5>
    <div class="column-layout group_1"></div>
  </div>
  <div class="row-layout cards">
    <igx-card type="outlined" class="card_1">
      <igx-card-header>
        <div igxCardThumbnail>
          <igx-avatar size="large" shape="circle" class="avatar">
            <igx-icon>
              person
            </igx-icon>
          </igx-avatar>
        </div>
        <h3 igxCardHeaderTitle>
          Payment Types
        </h3>
        <h5 igxCardHeaderSubtitle>
           
        </h5>
      </igx-card-header>
      <igx-card-content class="body-content">
        <p class="text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
        </p>
      </igx-card-content>
    </igx-card>
    <igx-card type="outlined" class="card_1">
      <igx-card-header>
        <div igxCardThumbnail>
          <igx-avatar size="large" shape="circle" routerLink="/settings-module/settings-sales-tax" class="avatar">
            <igx-icon>
              person
            </igx-icon>
          </igx-avatar>
        </div>
        <h3 igxCardHeaderTitle>
          Sales Tax
        </h3>
        <h5 igxCardHeaderSubtitle>
           
        </h5>
      </igx-card-header>
      <igx-card-content class="body-content">
        <p class="text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
        </p>
      </igx-card-content>
    </igx-card>
    <igx-card type="outlined" class="card_1">
      <igx-card-header>
        <div igxCardThumbnail>
          <igx-avatar size="large" shape="circle" class="avatar">
            <igx-icon>
              person
            </igx-icon>
          </igx-avatar>
        </div>
        <h3 igxCardHeaderTitle>
          Payment Processing
        </h3>
        <h5 igxCardHeaderSubtitle>
           
        </h5>
      </igx-card-header>
      <igx-card-content class="body-content">
        <p class="text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
        </p>
      </igx-card-content>
    </igx-card>
    <div class="row-layout group_2"></div>
    <div class="row-layout group_2"></div>
  </div>
</div>
<div class="column-layout group">
  <div class="column-layout title">
    <h5 class="h5">
      UTILITIES
    </h5>
    <div class="column-layout group_1"></div>
  </div>
  <div class="row-layout cards">
    <igx-card type="outlined" class="card_1">
      <igx-card-header>
        <div igxCardThumbnail>
          <igx-avatar size="large" shape="circle" class="avatar">
            <igx-icon>
              person
            </igx-icon>
          </igx-avatar>
        </div>
        <h3 igxCardHeaderTitle>
          Archive Clients
        </h3>
        <h5 igxCardHeaderSubtitle>
           
        </h5>
      </igx-card-header>
      <igx-card-content class="body-content">
        <p class="text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
        </p>
      </igx-card-content>
    </igx-card>
    <igx-card type="outlined" class="card_1">
      <igx-card-header>
        <div igxCardThumbnail>
          <igx-avatar size="large" shape="circle" class="avatar">
            <igx-icon>
              person
            </igx-icon>
          </igx-avatar>
        </div>
        <h3 igxCardHeaderTitle>
          Explore Chain
        </h3>
        <h5 igxCardHeaderSubtitle>
           
        </h5>
      </igx-card-header>
      <igx-card-content class="body-content">
        <p class="text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
        </p>
      </igx-card-content>
    </igx-card>
    <div class="row-layout group_2"></div>
    <div class="row-layout group_2"></div>
    <div class="row-layout group_2"></div>
  </div>
</div>
<div class="column-layout group">
  <div class="column-layout title">
    <h5 class="h5">
      ADVANCED SETUP
    </h5>
    <div class="column-layout group_1"></div>
  </div>
  <div class="row-layout cards">
    <igx-card type="outlined" class="card_1">
      <igx-card-header>
        <div igxCardThumbnail>
          <igx-avatar size="large" shape="circle" class="avatar">
            <igx-icon>
              person
            </igx-icon>
          </igx-avatar>
        </div>
        <h3 igxCardHeaderTitle>
          Employee Roles
        </h3>
        <h5 igxCardHeaderSubtitle>
           
        </h5>
      </igx-card-header>
      <igx-card-content class="body-content">
        <p class="text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
        </p>
      </igx-card-content>
    </igx-card>
    <igx-card type="outlined" class="card_1">
      <igx-card-header>
        <div igxCardThumbnail>
          <igx-avatar size="large" shape="circle" class="avatar">
            <igx-icon>
              person
            </igx-icon>
          </igx-avatar>
        </div>
        <h3 igxCardHeaderTitle>
          Event Log
        </h3>
        <h5 igxCardHeaderSubtitle>
           
        </h5>
      </igx-card-header>
      <igx-card-content class="body-content">
        <p class="text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
        </p>
      </igx-card-content>
    </igx-card>
    <igx-card type="outlined" class="card_1">
      <igx-card-header>
        <div igxCardThumbnail>
          <igx-avatar size="large" shape="circle" class="avatar">
            <igx-icon>
              person
            </igx-icon>
          </igx-avatar>
        </div>
        <h3 igxCardHeaderTitle>
          DAPP Store
        </h3>
        <h5 igxCardHeaderSubtitle>
           
        </h5>
      </igx-card-header>
      <igx-card-content class="body-content">
        <p class="text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
        </p>
      </igx-card-content>
    </igx-card>
    <div class="row-layout group_2"></div>
    <div class="row-layout group_2"></div>
  </div>
</div>
