<div class="column-layout group">
  <div class="column-layout name">
    <h5 class="h5">
      Name
    </h5>
    <div class="row-layout group_1">
      <igx-input-group type="border" class="input">
        <input type="text" igxInput />
        <label igxLabel>Name</label>
      </igx-input-group>
    </div>
  </div>
  <div class="column-layout address">
    <h5 class="h5">
      Address
    </h5>
    <div class="column-layout group_1">
      <igx-input-group type="border" class="input_1">
        <input type="text" igxInput />
        <label igxLabel>Address</label>
      </igx-input-group>
      <div class="row-layout group_2">
        <igx-input-group type="border" class="input_2">
          <input type="text" igxInput />
          <label igxLabel>City</label>
        </igx-input-group>
        <igx-input-group type="border" class="input_2">
          <input type="text" igxInput />
          <label igxLabel>State</label>
        </igx-input-group>
      </div>
      <div class="row-layout group_2">
        <igx-input-group type="border" class="input_2">
          <input type="text" igxInput />
          <label igxLabel>Country</label>
        </igx-input-group>
        <igx-input-group type="border" class="input_2">
          <input type="text" igxInput />
          <label igxLabel>Postal Code</label>
        </igx-input-group>
      </div>
    </div>
  </div>
  <div class="column-layout address">
    <h5 class="h5">
      Contact info
    </h5>
    <div class="column-layout group_3">
      <igx-input-group type="border" class="input_1">
        <input type="text" igxInput />
        <label igxLabel>Email</label>
      </igx-input-group>
      <igx-input-group type="border" class="input_1">
        <input type="text" igxInput />
        <label igxLabel>Phone</label>
      </igx-input-group>
      <igx-input-group type="border" class="input_1">
        <input type="text" igxInput />
        <label igxLabel>Fax</label>
      </igx-input-group>
    </div>
  </div>
</div>
<div class="column-layout group_4">
  <div class="column-layout payment">
    <h5 class="h5">
      Payment
    </h5>
    <div class="column-layout group_2">
      <igx-input-group type="border" class="input_1">
        <input type="text" igxInput />
        <label igxLabel>Policy Number</label>
      </igx-input-group>
      <igx-input-group type="border" class="input_1">
        <input type="text" igxInput />
        <label igxLabel>Transaction Limit</label>
      </igx-input-group>
      <igx-input-group type="border" class="input_1">
        <input type="text" igxInput />
        <label igxLabel>Payee</label>
      </igx-input-group>
      <igx-input-group type="border" class="input_1">
        <input type="text" igxInput />
        <label igxLabel>Invoice Number</label>
      </igx-input-group>
      <igx-input-group type="border" class="input_1">
        <input type="text" igxInput />
        <label igxLabel>Proforma Number</label>
      </igx-input-group>
    </div>
  </div>
  <div class="column-layout report">
    <h5 class="h5_1">
      Method
    </h5>
    <igx-radio-group alignment="vertical" value="1" [required]="true" class="radio-group">
      <igx-radio class="radio">
        Pay
      </igx-radio>
      <igx-radio class="radio">
        Credit
      </igx-radio>
    </igx-radio-group>
  </div>
  <div class="column-layout group_5">
    <button igxButton="raised" igxRipple class="button">
      Add Enhancer
    </button>
  </div>
</div>
