<div class="column-layout group">
  <div class="row-layout page-control"></div>
  <div class="row-layout main">
    <div class="column-layout left-col">
      <div class="column-layout info-box">
        <div class="column-layout title">
          <h5 class="content">
            Info
          </h5>
        </div>
        <div class="column-layout event-id">
          <p class="ig-typography__body-2 text">
            Event ID
          </p>
          <p class="ig-typography__caption content">
            12345678
          </p>
        </div>
        <div class="column-layout event-id">
          <p class="ig-typography__body-2 text">
            Date/Time
          </p>
          <p class="ig-typography__caption content">
            2019-12-23 14:00
          </p>
        </div>
        <div class="column-layout event-id">
          <p class="ig-typography__body-2 text">
            Type
          </p>
          <p class="ig-typography__caption content">
            login
          </p>
        </div>
        <div class="column-layout event-id">
          <p class="ig-typography__body-2 text">
            Category
          </p>
          <p class="ig-typography__caption content">
            login
          </p>
        </div>
        <div class="column-layout event-id">
          <p class="ig-typography__body-2 text">
            Event
          </p>
          <p class="ig-typography__caption content">
            user: sean.a.copeland@boex.biz
          </p>
        </div>
      </div>
      <div class="column-layout employee">
        <div class="column-layout title">
          <h5 class="content">
            Info
          </h5>
        </div>
        <div class="column-layout event-id">
          <p class="ig-typography__body-2 text">
            Employee First Name
          </p>
          <p class="ig-typography__caption content">
            Sean
          </p>
        </div>
        <div class="column-layout event-id">
          <p class="ig-typography__body-2 text">
            Employee Last Name
          </p>
          <p class="ig-typography__caption content">
            Copeland
          </p>
        </div>
        <div class="column-layout event-id">
          <p class="ig-typography__body-2 text">
            Type
          </p>
          <p class="ig-typography__caption content">
            Station 01
          </p>
        </div>
        <div class="column-layout event-id">
          <p class="ig-typography__body-2 text">
            Category
          </p>
          <p class="ig-typography__caption content">
            Proro-Lab
          </p>
        </div>
        <div class="column-layout event-id">
          <p class="ig-typography__body-2 text">
            Event
          </p>
          <p class="ig-typography__caption content">
            Delta, BC
          </p>
        </div>
      </div>
      <div class="column-layout transaction">
        <div class="column-layout title">
          <h5 class="content">
            Transaction
          </h5>
        </div>
        <div class="column-layout event-id">
          <p class="ig-typography__body-2 text">
            Transaction ID
          </p>
          <p class="ig-typography__caption content">
            88882222
          </p>
        </div>
      </div>
    </div>
    <div class="column-layout group">
      <div class="column-layout form">
        <div class="column-layout title">
          <h5 class="content">
            Form
          </h5>
        </div>
        <div class="column-layout event-id">
          <p class="ig-typography__caption content">
            login
          </p>
        </div>
      </div>
      <div class="column-layout input">
        <div class="column-layout title">
          <h5 class="content">
            Input / Message
          </h5>
        </div>
        <div class="column-layout form-type-1">
          <p class="text_1">
            login_name [sean.copeland@boex.biz]
          </p>
          <p class="text_1">
            lofin_password [Cleaned: password]
          </p>
          <p class="text_1">
            redirect_after_login [/home]
          </p>
          <p class="text_1">
            user_agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_13_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/79.0.3945.88 Safari/537.36
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
