<div class="column-layout main">
  <h5 class="h5">
    Account Creation Ok
  </h5>
  <div class="column-layout form">
    <div class="column-layout account-type">
      <igx-list class="list">
        <igx-list-item [isHeader]="false"></igx-list-item>
      </igx-list>
      <div class="row-layout group">
        <h5 class="content">
          Account Type:
        </h5>
        <p class="content">
          Personal
        </p>
      </div>
    </div>
    <div class="column-layout login-information">
      <h5 class="h5_1">
        Login Information
      </h5>
      <igx-input-group type="border" class="user-input">
        <input type="text" igxInput />
        <label igxLabel>Full Name</label>
      </igx-input-group>
      <igx-input-group type="border" class="user-input">
        <input type="text" igxInput />
        <label igxLabel>Full Name</label>
      </igx-input-group>
      <igx-input-group type="border" class="user-input">
        <input type="text" igxInput />
        <label igxLabel>Full Name</label>
      </igx-input-group>
      <igx-input-group type="border" class="user-input">
        <input type="text" igxInput />
        <label igxLabel>Full Name</label>
      </igx-input-group>
    </div>
    <div class="column-layout login-information">
      <h5 class="h5_1">
        User Information
      </h5>
      <igx-input-group type="border" class="user-input">
        <input type="tel" igxInput />
        <label igxLabel>Mobile</label>
      </igx-input-group>
      <igx-input-group type="border" class="user-input">
        <input type="tel" igxInput />
        <label igxLabel>landline</label>
      </igx-input-group>
      <igx-input-group type="border" class="user-input">
        <input type="email" igxInput />
        <label igxLabel>Email</label>
      </igx-input-group>
    </div>
    <div class="column-layout account-type">
      <h5 class="h5_1">
        Blockchain
      </h5>
      <igx-input-group type="border" class="user-input">
        <input type="text" [disabled]="true" igxInput />
        <label igxLabel>Blockchain Address</label>
      </igx-input-group>
      <div class="column-layout group_1">
        <button igxButton="raised" igxRipple class="button">
          Connect Metamask
        </button>
      </div>
    </div>
    <div class="column-layout login-information">
      <h5 class="h5_1">
        Address
      </h5>
      <igx-input-group type="border" class="user-input">
        <input type="text" igxInput />
        <label igxLabel>Address line 1</label>
      </igx-input-group>
      <igx-input-group type="border" class="user-input">
        <input type="text" igxInput />
        <label igxLabel>Address line 2</label>
      </igx-input-group>
      <igx-input-group type="border" class="user-input">
        <input type="text" igxInput />
        <label igxLabel>City</label>
      </igx-input-group>
      <igx-input-group type="border" class="user-input">
        <input type="text" igxInput />
        <label igxLabel>State</label>
      </igx-input-group>
      <igx-input-group type="border" [igxToggleAction]="dropdown" class="user-input">
        <input type="text" igxInput />
        <label igxLabel>Country</label>
      </igx-input-group>
      <igx-input-group type="border" class="user-input">
        <input type="text" igxInput />
        <label igxLabel>Postal Code</label>
      </igx-input-group>
      <igx-drop-down #dropdown class="user-input">
        <igx-drop-down-item>
          Option
        </igx-drop-down-item>
      </igx-drop-down>
    </div>
    <div class="column-layout login-information">
      <h5 class="h5_1">
        Banking Information
      </h5>
      <igx-input-group type="border" class="user-input">
        <input type="text" igxInput />
        <label igxLabel>Bank Name</label>
      </igx-input-group>
      <igx-input-group type="border" class="user-input">
        <input type="text" igxInput />
        <label igxLabel>Routing number</label>
      </igx-input-group>
      <igx-input-group type="border" class="user-input">
        <input type="text" igxInput />
        <label igxLabel>Full Name</label>
      </igx-input-group>
    </div>
    <div class="column-layout account-type">
      <h5 class="h5_1">
        Credit card information
      </h5>
      <igx-input-group type="border" class="user-input">
        <input type="text" igxInput />
        <label igxLabel>Credit card number</label>
      </igx-input-group>
      <igx-date-picker type="border" todayButtonLabel="Today" cancelButtonLabel="Cancel" mode="dialog" class="date-picker">
        <label igxLabel>Expiry Date</label>
      </igx-date-picker>
    </div>
    <button igxButton="raised" igxRipple class="button_1">
      Create Account
    </button>
  </div>
</div>
