:host {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
}
.column-layout {
  display: flex;
  flex-direction: column;
}
.group {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  margin: 0 0 3rem;
  flex-grow: 1;
  flex-basis: 0;
}
.row-layout {
  display: flex;
}
.group_1 {
  background-color: hsla(var(--ig-secondary-500));
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  position: relative;
  padding: 0 0 0 2rem;
  min-width: min-content;
  min-height: 50px;
}
.group_2 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 2rem;
  position: relative;
  margin: 0 0 3rem;
  padding: 2rem 4rem;
  flex-grow: 1;
  flex-basis: 0;
}
.card {
  height: max-content;
  min-width: min-content;
  flex-grow: 1;
  flex-basis: 0;
}
.group_3 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 2rem;
  position: relative;
  padding: 0 2rem 3rem;
  min-width: min-content;
}
.name {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  min-width: min-content;
  flex-grow: 1;
  flex-basis: 0;
}
.group_4 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 1rem;
  min-width: min-content;
  min-height: min-content;
  flex-grow: 1;
  flex-basis: 0;
}
.group_5 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  min-width: 50px;
  min-height: 50px;
}
.group_6 {
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  gap: 0.5rem;
  position: relative;
  min-width: 50px;
  min-height: 50px;
}
.group_7 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 1rem;
  position: relative;
  min-width: min-content;
  min-height: 50px;
}
.group_8 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 1rem;
  position: relative;
  min-width: min-content;
  min-height: min-content;
  flex-grow: 1;
  flex-basis: 0;
}
.group_9 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 1rem;
  position: relative;
}
.group_10 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 1rem;
  position: relative;
  min-width: 50px;
  min-height: 50px;
}
.group_11 {
  justify-content: flex-end;
  align-items: stretch;
  align-content: flex-start;
  gap: 1rem;
  position: relative;
  min-width: 50px;
  min-height: 50px;
}
.h5 {
  color: hsla(var(--ig-gray-100));
  height: max-content;
  min-width: min-content;
}
.h4 {
  margin: 0 0 -1rem;
  height: max-content;
  min-width: min-content;
}
.h5_1 {
  margin: 0 0 0.5rem;
  height: max-content;
  min-width: min-content;
}
.text {
  height: max-content;
  min-width: min-content;
}
.h5_2 {
  margin: 0 0 1rem;
  height: max-content;
  min-width: min-content;
}
.body-content {
  min-width: 50px;
  min-height: 50px;
}
.input {
  position: relative;
  height: max-content;
  min-width: min-content;
  align-self: stretch;
  flex-grow: 1;
  flex-basis: 0;
}
.button {
  height: max-content;
  flex-shrink: 0;
}
.input_1 {
  height: max-content;
  min-width: min-content;
  flex-grow: 1;
  flex-basis: 0;
}
.input_2 {
  height: max-content;
  min-width: min-content;
}
.button_1 {
  --igx-button-foreground: hsla(var(--ig-surface-500));
  --igx-button-background: hsla(var(--ig-primary-500));
  height: max-content;
  flex-shrink: 0;
}
