<igx-card type="outlined" class="card">
  <igx-card-header>
    <h3 igxCardHeaderTitle>
      Welcome to Boex
    </h3>
    <h5 igxCardHeaderSubtitle>
      Signup
    </h5>
  </igx-card-header>
  <igx-card-content class="body-content">
    <div class="column-layout login-information">
      <igx-input-group type="border" class="user-input">
        <input type="password" igxInput />
        <label igxLabel>Username</label>
      </igx-input-group>
      <igx-input-group type="border" class="user-input">
        <input type="password" igxInput />
        <label igxLabel>Password</label>
      </igx-input-group>
      <igx-input-group type="border" class="user-input">
        <input type="password" igxInput />
        <label igxLabel>Confirm Password</label>
      </igx-input-group>
      <igx-select type="border" class="user-input">
        <igx-select-item value="Option">
          Option
        </igx-select-item>
        <label igxLabel>Security Question</label>
      </igx-select>
      <igx-input-group type="border" class="user-input">
        <input type="password" igxInput />
        <label igxLabel>Security Response</label>
      </igx-input-group>
    </div>
  </igx-card-content>
  <igx-card-actions class="actions-content">
    <ng-container igxStart></ng-container>
    <ng-container igxEnd></ng-container>
  </igx-card-actions>
</igx-card>
