<div class="column-layout insurance">
  <div class="row-layout page-banner">
    <h5 class="h5">
      Insurance
    </h5>
  </div>
  <div class="row-layout group">
    <igx-card type="outlined" class="card">
      <igx-card-media height="200px">
        <img src="/assets/chubb_logo_white.png" class="image" />
      </igx-card-media>
      <igx-card-header>
        <h3 igxCardHeaderTitle>
          Chubb
        </h3>
        <h5 igxCardHeaderSubtitle>
          While in transit, your shipments are vulnerable to a wide variety of risks. With Chubb’s flexible solutions, we can help you tailor a policy that offers coverage for your specific risks.
        </h5>
      </igx-card-header>
      <igx-card-content class="body-content">
        <igx-checkbox labelPosition="after" class="checkbox">
          Request Quote
        </igx-checkbox>
      </igx-card-content>
      <igx-card-actions class="actions-content">
        <ng-container igxEnd></ng-container>
      </igx-card-actions>
    </igx-card>
    <igx-card type="outlined" class="card">
      <igx-card-media height="200px">
        <img src="/assets/aig-logo.png" class="image" />
      </igx-card-media>
      <igx-card-header>
        <h3 igxCardHeaderTitle>
          AIG
        </h3>
        <h5 igxCardHeaderSubtitle>
          Our cargo insurance programs are designed to provide comprehensive coverage for goods in transit for manufacturers, importers and exporters, commodity traders, logistics companies and more. We can also provide numerous extensions to coverage such as pure domestic transit movements, warehouse, storage, exhibition, and processing or consolidation risks.
        </h5>
      </igx-card-header>
      <igx-card-content class="body-content">
        <igx-checkbox labelPosition="after" class="checkbox">
          Request Quote
        </igx-checkbox>
      </igx-card-content>
      <igx-card-actions class="actions-content">
        <ng-container igxEnd></ng-container>
      </igx-card-actions>
    </igx-card>
    <igx-card type="outlined" class="card">
      <igx-card-media height="200px">
        <img src="/assets/Marsh-header-rgb-blue.svg" class="image" />
      </igx-card-media>
      <igx-card-header>
        <h3 igxCardHeaderTitle>
          Marsh
        </h3>
        <h5 igxCardHeaderSubtitle>
          With over 100 years of cargo and logistics expertise, our team of advisors at Marsh will work with your company to minimize your risk exposures and navigate business-related challenges through our innovative application of industry-leading data, analytics, and benchmarking
        </h5>
      </igx-card-header>
      <igx-card-content class="body-content">
        <igx-checkbox labelPosition="after" class="checkbox">
          Request Quote
        </igx-checkbox>
      </igx-card-content>
      <igx-card-actions class="actions-content">
        <ng-container igxEnd></ng-container>
      </igx-card-actions>
    </igx-card>
  </div>
</div>
