<div *ngIf="groupVisible19" class="row-layout page-control">
  <div class="row-layout group">
    <h4 class="h4">
      Terms
    </h4>
  </div>
  <div class="row-layout group_1">
    <h5 class="h5">
      Old
    </h5>
    <h5 class="h5_1">
      New
    </h5>
  </div>
</div>
<div *ngIf="groupVisible20" class="column-layout main">
  <div class="row-layout issued-location">
    <h5 class="h5_2">
      Issued Location:
    </h5>
    <igx-input-group type="border" class="input">
      <input type="text" igxInput />
    </igx-input-group>
    <igx-input-group type="border" class="input_1">
      <input type="text" igxInput />
    </igx-input-group>
  </div>
  <div class="row-layout presentation-date">
    <h5 class="h5_2">
      Presentation Date:
    </h5>
    <igx-input-group type="border" class="input">
      <input type="text" igxInput />
    </igx-input-group>
    <igx-input-group type="border" class="input_1">
      <input type="text" igxInput />
    </igx-input-group>
  </div>
  <div class="row-layout presentation-date">
    <h5 class="h5_2">
      Date of Issue
    </h5>
    <igx-input-group type="border" class="input">
      <input type="text" igxInput />
    </igx-input-group>
    <igx-input-group type="border" class="input_1">
      <input type="text" igxInput />
    </igx-input-group>
  </div>
  <div class="row-layout presentation-date">
    <h5 class="h5_2">
      Terms
    </h5>
    <igx-input-group type="border" class="input">
      <input type="text" igxInput />
    </igx-input-group>
    <igx-input-group type="border" class="input_1">
      <input type="text" igxInput />
    </igx-input-group>
  </div>
  <div class="row-layout presentation-date">
    <h5 class="h5_2">
      Amount
    </h5>
    <div class="row-layout group_2">
      <igx-input-group type="border" class="input_2">
        <input type="number" igxInput />
      </igx-input-group>
      <igx-select type="border" class="select">
        <igx-select-item value="Option">
          Option
        </igx-select-item>
        <label igxLabel>Label/Placeholder</label>
      </igx-select>
    </div>
    <div class="row-layout group_3">
      <igx-input-group type="border" class="input_2">
        <input type="number" igxInput />
      </igx-input-group>
      <igx-select type="border" class="select">
        <igx-select-item value="Option">
          Option
        </igx-select-item>
        <label igxLabel>Label/Placeholder</label>
      </igx-select>
    </div>
  </div>
</div>
<div class="row-layout page-control">
  <div class="row-layout group_4">
    <h4 class="h4">
      Terms
    </h4>
  </div>
  <div class="row-layout group_5">
    <h5 class="h5">
      Old
    </h5>
    <h5 class="h5_1">
      New
    </h5>
  </div>
</div>
<div class="column-layout main-1">
  <div class="row-layout issued-location">
    <h5 class="h5_2">
      Issued Location:
    </h5>
    <igx-input-group type="border" class="input">
      <input type="text" igxInput />
    </igx-input-group>
    <igx-input-group type="border" class="input_1">
      <input type="text" igxInput />
    </igx-input-group>
  </div>
  <div class="row-layout presentation-date">
    <h5 class="h5_2">
      Presentation Date:
    </h5>
    <igx-input-group type="border" class="input">
      <input type="text" igxInput />
    </igx-input-group>
    <igx-input-group type="border" class="input_1">
      <input type="text" igxInput />
    </igx-input-group>
  </div>
  <div class="row-layout presentation-date">
    <h5 class="h5_2">
      Date of Issue
    </h5>
    <igx-input-group type="border" class="input">
      <input type="text" igxInput />
    </igx-input-group>
    <igx-input-group type="border" class="input_1">
      <input type="text" igxInput />
    </igx-input-group>
  </div>
  <div class="row-layout presentation-date">
    <h5 class="h5_2">
      Terms
    </h5>
    <igx-input-group type="border" class="input">
      <input type="text" igxInput />
    </igx-input-group>
    <igx-input-group type="border" class="input_1">
      <input type="text" igxInput />
    </igx-input-group>
  </div>
  <div class="row-layout presentation-date">
    <h5 class="h5_2">
      Amount
    </h5>
    <div class="row-layout group_2">
      <igx-input-group type="border" class="input_2">
        <input type="number" igxInput />
      </igx-input-group>
      <igx-select type="border" class="select">
        <igx-select-item value="Option">
          Option
        </igx-select-item>
        <label igxLabel>Label/Placeholder</label>
      </igx-select>
    </div>
    <div class="row-layout group_3">
      <igx-input-group type="border" class="input_2">
        <input type="number" igxInput />
      </igx-input-group>
      <igx-select type="border" class="select">
        <igx-select-item value="Option">
          Option
        </igx-select-item>
        <label igxLabel>Label/Placeholder</label>
      </igx-select>
    </div>
  </div>
</div>
