<div class="column-layout group">
  <div class="column-layout graph">
    <img src="/assets/sustainability_graph.jpeg" class="image" />
    <h5 class="content">
      GHG Emissions Average
    </h5>
  </div>
  <div class="column-layout emissions">
    <p class="content">
      NOx ECA
    </p>
    <p class="content">
      SOx ECA
    </p>
    <p class="content">
      COx
    </p>
    <p class="content">
      CH4
    </p>
  </div>
</div>
<p class="content">
  copyright 2019,2020 BOEX Limited
</p>
