<div class="column-layout group">
  <h5 class="h5">
    To create a business account upload your businesses Duns and Bradstreet number or upload your state/federal documentation
  </h5>
</div>
<div class="row-layout group_1">
  <div class="column-layout group_2">
    <h5 class="h5_1">
      Duns and Bradstreet Number
    </h5>
    <igx-input-group type="border" class="input">
      <input type="number" igxInput />
    </igx-input-group>
  </div>
  <div class="column-layout group_2">
    <h5 class="h5_1">
      Sate or Federal Documents
    </h5>
    <igx-input-group type="border" class="input">
      <input type="text" igxInput />
    </igx-input-group>
  </div>
</div>
<div class="column-layout group"></div>
