<div class="column-layout group">
  <div class="row-layout group_1">
    <div class="row-layout left">
      <div class="column-layout group_2">
        <img src="/assets/3550b6d139ff29ebe49644d46bb53dfaa023ce38.png" class="image" />
        <h5 class="h5">
          Securely Automating Trade
        </h5>
      </div>
    </div>
    <div class="row-layout right">
      <igx-card type="outlined" class="card">
        <igx-card-header>
          <h3 igxCardHeaderTitle>
          </h3>
          <h5 igxCardHeaderSubtitle>
          </h5>
        </igx-card-header>
        <igx-card-content class="body-content">
          <div class="column-layout group_3">
            <h4 class="h4">
              Account creation success
            </h4>
            <div class="row-layout group_4">
              <div class="column-layout group_5">
                <div class="column-layout group_6">
                  <h4 class="h4_1">
                    First Name:
                  </h4>
                </div>
                <div class="column-layout group_6">
                  <h4 class="h4_1">
                    Middle Name
                  </h4>
                </div>
                <div class="column-layout group_6">
                  <h4 class="h4_1">
                    Last Name:
                  </h4>
                </div>
                <div class="column-layout group_6">
                  <h4 class="h4_1">
                    Email:
                  </h4>
                </div>
              </div>
              <div class="column-layout group_7">
                <div class="column-layout group_8">
                  <p class="text">
                    TestLast Name
                  </p>
                </div>
                <div class="column-layout group_8">
                  <p class="text">
                    TestMiddle Name
                  </p>
                </div>
                <div class="column-layout group_8">
                  <p class="text">
                    TestLast Name
                  </p>
                </div>
                <div class="column-layout group_8">
                  <p class="text">
                    TestEmail@email.com
                  </p>
                </div>
              </div>
            </div>
            <p class="text_1">
              A few more steps are needed to verify you and your business
            </p>
            <button igxButton="raised" igxRipple class="pupup">
              Go to business verification
            </button>
          </div>
        </igx-card-content>
      </igx-card>
      <div *ngIf="groupVisible17" class="column-layout group_9"></div>
    </div>
  </div>
</div>
