:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
}
.column-layout {
  display: flex;
  flex-direction: column;
}
.page-control {
  background-color: hsla(var(--ig-secondary-100));
  justify-content: center;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  padding: 0 30px;
  width: 100%;
  height: 64px;
  min-width: 100%;
  min-height: 64px;
  max-height: 64px;
}
.row-layout {
  display: flex;
}
.group {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  overflow: auto;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-shrink: 0;
}
.order-negotiate {
  background-color: transparent;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  overflow: auto;
  margin: 60px 0 10px 60px;
  min-width: 50px;
  min-height: 50px;
  flex-grow: 1;
  flex-basis: 0;
}
.group_1 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  margin: 0 20px 0 0;
  min-width: 50px;
  min-height: 50px;
  flex-shrink: 0;
}
.order-serve-form {
  background-color: hsla(var(--ig-gray-200));
  justify-content: space-evenly;
  align-items: stretch;
  align-content: flex-start;
  margin: 0 0 20px;
  padding: 0 10px;
  width: 431px;
  min-width: 700px;
  min-height: 431px;
  flex-grow: 1;
  flex-shrink: 0;
}
.additional-stakeholders {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  margin: 0 20px 0 0;
  min-width: 50px;
  min-height: 50px;
}
.group_2 {
  background-color: hsla(var(--ig-gray-300));
  border-color: hsla(var(--ig-gray-400));
  border-width: 0px 0px 1px;
  border-style: solid;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  position: relative;
  padding: 0 20px;
  min-width: 50px;
  min-height: 50px;
}
.group_3 {
  background-color: hsla(var(--ig-gray-200));
  border-color: hsla(var(--ig-gray-400));
  border-width: 0px 0px 1px;
  border-style: solid;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  position: relative;
  padding: 0 20px;
  min-width: 50px;
  min-height: 50px;
}
.button {
  --igx-button-foreground: hsla(var(--ig-surface-500));
  --igx-button-background: hsla(var(--ig-secondary-700));
  margin: 0 10px 0 0;
  width: 120px;
  height: max-content;
}
.details {
  height: max-content;
  min-width: min-content;
}
.button_1 {
  --igx-button-foreground: hsla(var(--ig-surface-500));
  --igx-button-background: hsla(var(--ig-secondary-500));
  width: 130px;
  height: max-content;
}
.checkbox {
  margin: 0 40px 0 0;
  width: max-content;
  height: max-content;
}
.nav-drawer {
  min-width: min-content;
  min-height: 0;
  flex-shrink: 0;
}
.nav-drawer-item {
  margin: 20px 0 0;
}
.grid {
  margin: 0 0 20px;
  min-width: 50px;
  min-height: 50px;
}
.add-documents {
  object-fit: contain;
  width: 92px;
  height: 92px;
  min-width: 0;
  min-height: 0;
  flex-shrink: 0;
}
.content {
  height: max-content;
  min-width: min-content;
}
.text {
  color: hsla(var(--ig-gray-600));
  height: max-content;
  min-width: min-content;
}
