<div class="row-layout page-control">
  <button igxButton="flat" igxRipple routerLink="/employee-module/employee-roles-new" class="button">
    New Role
  </button>
  <button igxButton="flat" igxRipple routerLink="/stakeholders-module/stakeholder-new" class="button">
    Archive
  </button>
</div>
<div class="column-layout group">
  <div class="column-layout group_1">
    <div class="row-layout group_2">
      <igx-avatar class="avatar">
        <igx-icon>
          people
        </igx-icon>
      </igx-avatar>
      <p class="text">
        Admin
      </p>
    </div>
    <div class="row-layout group_2">
      <igx-avatar class="avatar">
        <igx-icon>
          people
        </igx-icon>
      </igx-avatar>
      <p class="text">
        Owner
      </p>
    </div>
    <div class="row-layout group_2">
      <igx-avatar class="avatar">
        <igx-icon>
          people
        </igx-icon>
      </igx-avatar>
      <p class="text">
        Manager
      </p>
    </div>
    <div class="row-layout group_2">
      <igx-avatar class="avatar">
        <igx-icon>
          people
        </igx-icon>
      </igx-avatar>
      <p class="text">
        Shipping Manager
      </p>
    </div>
    <div class="row-layout group_3">
      <igx-avatar class="avatar">
        <igx-icon>
          people
        </igx-icon>
      </igx-avatar>
      <p class="text">
        Accountant
      </p>
    </div>
  </div>
</div>
