<div class="column-layout group">
  <div class="row-layout group_1">
    <div class="row-layout left-1">
      <div class="column-layout group_2">
        <img src="/assets/3550b6d139ff29ebe49644d46bb53dfaa023ce38.png" class="image" />
        <h5 class="h5">
          Securely Automating Trade
        </h5>
      </div>
    </div>
    <div class="row-layout right-1">
      <div class="column-layout group_3">
        <igx-card type="outlined" class="card">
          <igx-card-header>
            <h3 igxCardHeaderTitle>
            </h3>
            <h5 igxCardHeaderSubtitle>
            </h5>
          </igx-card-header>
          <igx-card-content class="body-content">
            <div class="column-layout group_4">
              <h2 class="h2">
                Sign Up
              </h2>
              <div class="column-layout input-group-1">
                <igx-input-group type="border" class="input">
                  <input type="text" igxInput />
                  <label igxLabel>First Name </label>
                </igx-input-group>
                <igx-input-group type="border" class="input">
                  <input type="text" igxInput />
                  <label igxLabel>Middle Name</label>
                </igx-input-group>
                <igx-input-group type="border" class="input">
                  <input type="text" igxInput />
                  <label igxLabel>Last Name</label>
                </igx-input-group>
                <igx-input-group type="border" class="input">
                  <input type="text" igxInput />
                  <label igxLabel>Email</label>
                </igx-input-group>
                <div class="column-layout group_5">
                  <button igxButton="raised" igxRipple class="button">
                    Sign up
                  </button>
                </div>
              </div>
            </div>
          </igx-card-content>
        </igx-card>
      </div>
    </div>
  </div>
</div>
